{% extends 'base.html' %}

{% block title %}Photo View{% endblock %}


{% block nav %}
        {% if request.user == photo.author or request.user.is_superuser or perms.photo.change_project %}
            <li class="nav-item"><a class="nav-link" href="{% url 'photo:photo_update' photo.pk %}">Update Photo</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'photo:photo_delete' photo.pk %}">Delete Photo</a></li>
        {% endif %}
{% endblock %}


{% block content %}
    <div class="card flex-row mt-3">
        <img src="{{ photo.photo_img.url }}" class="card-img-top w-25" alt="...">
        <div class="card-body">
            <h1>{{ photo.title }}</h1>
            <p class="card-text">Author: {{ photo.author }}</p>
            <p class="card-text">Private: {{ photo.private_photo }}</p>
            <p class="card-text">Created at: {{ photo.created_at }}</p>
            <p class="card-text">Albums:</p>
            {% for ph in photo.photos.all %}
                <p class="card-text"><a href="{% url "photo:album_view" ph.pk %}">{{ ph.name }}</a></p>
            {% endfor %}
        </div>
    </div>

{% endblock %}

