{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block nav %}
    {% if user_obj == user %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "accounts:change_profile" user_obj.pk %}">Edit Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "accounts:change_password" %}">Update password</a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}

<div class="card flex-row mt-3">
        <div class="card-body ms-5">
            <h5 class="card-title">Username: {{ user_obj.username }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">First Name: {{ user_obj.first_name }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Last name: {{ user_obj.last_name }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Email: {{ user_obj.email }}</h6>
        </div>
    </div>

    <div class="card flex-row mt-3">
        <div class="card-body ms-5">
    {% for rv in user_obj.reviews.all %}
        ===========================================
        <h5 class="card-title"><a href="{% url "review:product_view" rv.product.pk %}">Product: {{ rv.product.name }}</a></h5>
            <h6 class="card-subtitle mb-2 text-muted">Review: {{ rv.text }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Score: {{ rv.score }}</h6>
    {% endfor %}
        </div>
    </div>

{% endblock %}
