{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block nav %}
    {% if user_obj == user %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "accounts:change_profile" user_obj.pk %}">Edit Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "accounts:change_password" %}">Update password</a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}

<div class="card flex-row mt-3">
        <div class="card-body ms-5">
            <h5 class="card-title">Username: {{ user_obj.username }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">First Name: {{ user_obj.first_name }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Last name: {{ user_obj.last_name }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Email: {{ user_obj.email }}</h6>
        </div>
    </div>

    <div class="card flex-row mt-3">
        <div class="card-body ms-5">
        {% for ph in user_obj.photo_author.all %}
        <img src="{{ ph.photo_img.url }}" class="card-img-top w-25" alt="...">
        <h5 class="card-title"><a href="{% url "photo:photo_view" ph.pk %}">Photo: {{ ph.title }}</a></h5>
            <h6 class="card-subtitle mb-2 text-muted">Created at: {{ ph.created_at }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Album: </h6>
            {% for ph in photo.photos.all %}
                <p class="card-text"><a href="{% url "photo:album_view" ph.pk %}">{{ ph.name }}</a></p>
            {% endfor %}

    {% endfor %}
        </div>
    </div>

{% endblock %}
